.wg-li,
.wg-li a {
	color: var(--color--charcoal--medium) !important;
	font-size: var(--font-size--fs-14) !important;
	line-height: var(--line-height--line-height-20) !important;
	text-transform: uppercase !important;
	font-weight: 500 !important;
	text-decoration: none !important;
}

@media screen and (max-width: 767px) {
	.wg-list.country-selector {
		grid-column-gap: var(--gap--gap-xl);
		grid-row-gap: var(--gap--gap-xl);
	}

	.wg-list.country-selector {
		margin: 0;
		padding: 0;
		display: flex;
		position: static;
	}

	.wg-list.country-selector .wg-li a {
		text-transform: uppercase !important;
		font-weight: 500;
		color: var(--color--charcoal--medium) !important;
		font-size: var(--font-size--fs-10) !important;
		line-height: var(--line-height--line-height-14) !important;
		transition: opacity 0.4s cubic-bezier(0.77, 0, 0.175, 1);
		cursor: pointer;
		text-decoration: none !important;
	}
}
