:root {
	--fonts--secondary: Fakt, sans-serif;
	--color--body: var(--color--charcoal--dark);
	--font-size--fs-72: 4.5rem;
	--line-height--line-height-80: 5rem;
	--font-size--fs-40: 2.5rem;
	--line-height--line-height-48: 3rem;
	--font-size--fs-56: 3.5rem;
	--line-height--line-height-64: 4rem;
	--font-size--fs-32: 2rem;
	--line-height--line-height-40: 2.5rem;
	--font-size--fs-48: 3rem;
	--line-height--line-height-56: 3.5rem;
	--font-size--fs-28: 1.75rem;
	--line-height--line-height-36: 2.25rem;
	--font-size--fs-24: 1.5rem;
	--line-height--line-height-32: 2rem;
	--font-size--fs-20: 1.25rem;
	--line-height--line-height-28: 1.75rem;
	--font-size--fs-18: 1.125rem;
	--line-height--line-height-24: 1.5rem;
	--size--size-16: 1rem;
	--size--size-24: 1.5rem;
	--fonts--primary: "Amerigo BT", Georgia, sans-serif;
	--font-size--fs-16: 1rem;
	--color--charcoal--light: #7d7873;
	--spacing--v-pad-mob: var(--size--size-48);
	--c--btn--width-lg: 13.75rem;
	--color--charcoal--dark: #2a2826;
	--color--transparent: transparent;
	--font-size--fs-14: 0.875rem;
	--line-height--line-height-20: 1.25rem;
	--color--white: #fff;
	--c--btn--width-sm: 10rem;
	--c--btn--width-xs: 6.25rem;
	--color--sand--medium: #bbb1a4;
	--color--charcoal--medium: #5e5b58;
	--spacing--h-pad-dsk: var(--size--size-32);
	--spacing--h-pad-mob: var(--size--size-16);
	--styleguide--background: var(--color--white);
	--styleguide--text: var(--color--body);
	--color--page-bg: var(--color--cream--medium);
	--font-size--fs-120: 7.5rem;
	--line-height--line-height-142: 8.875rem;
	--font-size--fs-12: 0.75rem;
	--line-height--line-height-16: 1rem;
	--line-height--line-height-14: 0.875rem;
	--font-size--fs-10: 0.625rem;
	--color--cream--light: #fcfaf7;
	--color--cream--medium: #f9f4ef;
	--color--leaf--dark: #648b8b;
	--color--leaf--light: #97b7b6;
	--color--leaf--medium: #75a09e;
	--color--sand--dark: #ac9e91;
	--color--sand--light: #d8cfc5;
	--color--sky--dark: #72818b;
	--color--sky--light: #a3afb8;
	--color--sky--medium: #8a98a2;
	--color--slate--dark: #c6c6c3;
	--color--slate--light: #eaeae7;
	--color--slate--medium: #d9d9d6;
	--color--terracotta--dark: #bb6157;
	--color--terracotta--light: #d19393;
	--color--terracotta--medium: #c17878;
	--padding--pad-sm: var(--size--size-16);
	--padding--pad-md: var(--size--size-20);
	--gap--gap-md: var(--size--size-10);
	--gap--gap-sm: var(--size--size-8);
	--padding--pad-xs: var(--size--size-12);
	--gap--gap-xs: var(--size--size-6);
	--c--btn--icon-lg: 0.9375rem;
	--c--btn--icon-sm: 0.75rem;
	--c--btn--icon-xs: 0.75rem;
	--font-size--fs-8: 0.5rem;
	--line-height--line-height-10: 0.625rem;
	--gap--gap-3xl: var(--size--size-24);
	--gap--gap-xl: var(--size--size-16);
	--color--light-grey: #f4f4f4;
	--gap--gap-2xs: var(--size--size-4);
	--gap--gap-3xs: var(--size--size-2);
	--padding--pad-xl: var(--size--size-32);
	--padding--pad-4xl: var(--size--size-64);
	--gap--gap-2xl: var(--size--size-20);
	--padding--pad-3xl: var(--size--size-48);
	--cols--no-gutter--10-dsk: 0rem;
	--padding--pad-7xl: var(--size--size-192);
	--padding--pad-6xl: var(--size--size-96);
	--padding--pad-lg: var(--size--size-24);
	--padding--pad-2xs: var(--size--size-8);
	--c--grid-header--btn-line-color: var(--color--transparent);
	--grid--gutter-dsk: var(--gap--gap-4xl);
	--gap--gap-4xl: var(--size--size-32);
	--gap--gap-lg: var(--size--size-12);
	--gap--gap-6xl: var(--size--size-64);
	--c--header--h: 4.94rem;
	--c--header--v-pad: var(--padding--pad-md);
	--c--header--logo-h: var(--c--header--logo-h-sm);
	--c--header--logo-h-mbl: 1.5625rem;
	--cols--no-gutter--3-dsk: 0rem;
	--cols--no-gutter--5-dsk: 0rem;
	--size--size-12: 0.75rem;
	--spacing--v-pad-dsk: var(--size--size-96);
	--cols--gutter--7-dsk: 0rem;
	--grid--gutter-mbl: var(--gap--gap-sm);
	--size--size-32: 2rem;
	--size--size-20: 1.25rem;
	--padding--pad-2xl: var(--size--size-40);
	--padding--pad-3xs: var(--size--size-4);
	--cols--gutter--1-dsk: 0rem;
	--cols--no-gutter--4-dsk: 0rem;
	--cols--no-gutter--7-dsk: 0rem;
	--padding--pad-5xl: var(--size--size-80);
	--gap--gap-5xl: var(--size--size-40);
	--color--dev: red;
	--cols--no-gutter--11-dsk: 0rem;
	--cols--no-gutter--8-dsk: 0rem;
	--cols--no-gutter--6-dsk: 0rem;
	--c--team-list--gap: 0px;
	--size--size-48: 3rem;
	--size--size-4: 0.25rem;
	--grid--half-gutter-dsk: 0px;
	--cols--gutter--2-dsk: 0rem;
	--c--journal-card--margin-r: 0px;
	--c--journal-card--margin-l: 0px;
	--c--journal-card--content-gap: var(--padding--pad-xs);
	--c--journal-card--title-font: var(--fonts--secondary);
	--c--journal-card--title-fs: var(--font-size--fs-14);
	--c--journal-card--title-lh: var(--line-height--line-height-20);
	--c--journal-card--header-gap: var(--padding--pad-xs);
	--c--journal-card--gap: var(--padding--pad-sm);
	--c--home-hero--h: 0px;
	--grid--half-col-dsk: 0px;
	--container--neg-pad: 0px;
	--container--w: 0px;
	--container--neg-pad-dsk: 0px;
	--container--neg-pad-mbl: 0px;
	--c--header--inner-h: 2.8rem;
	--c--header--logo-h-lg: 0px;
	--c--header--logo-h-sm: 2.125rem;
	--c--journal-card--body-display: 0px;
	--c--journal-card--title-letter-spacing: 0em;
	--c--journal-card--align: 0px;
	--c--journal-card--grid-column: 0px;
	--c--loader--logo-top: 0px;
	--cols--gutter--3-dsk: 0rem;
	--cols--gutter--4-dsk: 0rem;
	--cols--gutter--5-dsk: 0rem;
	--cols--gutter--6-dsk: 0rem;
	--cols--gutter--8-dsk: 0rem;
	--cols--gutter--9-dsk: 0rem;
	--cols--gutter--10-dsk: 0rem;
	--cols--gutter--11-dsk: 0rem;
	--cols--gutter--12-dsk: 0rem;
	--cols--no-gutter--1-dsk: 0rem;
	--cols--no-gutter--2-dsk: 0rem;
	--cols--no-gutter--9-dsk: 0rem;
	--cols--no-gutter--12-dsk: 0rem;
	--grid--columns-dsk: 0px;
	--grid--columns-mbl: 0px;
	--grid--margin-dsk: var(--spacing--h-pad-dsk);
	--grid--margin-mbl: var(--spacing--h-pad-mob);
	--grid--container-w-dsk: 0px;
	--grid--container-w-mbl: 0px;
	--grid--col-w-dsk: 0px;
	--grid--col-w-mbl: 0px;
	--grid--half-gutter-mbl: 0px;
	--grid--half-col-mbl: 0px;
	--line-height--line-height-128: 8rem;
	--line-height--line-height-12: 0.75rem;
	--screen-size--mobile: 24.375rem;
	--screen-size--desktop: 90rem;
	--size--size-2: 0.125rem;
	--size--size-8: 0.5rem;
	--size--size-10: 0.625rem;
	--size--size-6: 0.375rem;
	--size--size-40: 2.5rem;
	--size--size-64: 4rem;
	--size--size-80: 5rem;
	--size--size-96: 6rem;
	--size--size-0: 0rem;
	--size--size-192: 12rem;
}
