/* Box sizing rules */
*,
*::before,
*::after {
	box-sizing: border-box;
}

/* Prevent font size inflation */
/* see https://kilianvalkhof.com/2022/css-html/your-css-reset-needs-text-size-adjust-probably/ */
html {
	-moz-text-size-adjust: none;
	-webkit-text-size-adjust: none;
	text-size-adjust: none;
}

/* Remove default margin in favour of better control in authored CSS */
body,
h1,
h2,
h3,
h4,
p,
figure,
blockquote,
dl,
dd {
	margin-block-end: 0;
}

/* Remove list styles on ul, ol elements with a list role, which suggests default styling will be removed */
ul[role="list"],
ol[role="list"] {
	list-style: none;
}

/* Set core body defaults */
body {
	min-height: 100vh;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	text-rendering: optimizeLegibility;
}

/* Make images easier to work with */
img,
picture,
video,
canvas,
svg {
	max-width: 100%;
	display: block;
}

/* Inherit fonts for inputs and buttons */
input,
textarea,
select {
	font: inherit;
}

/* avoid overflowing text */
p,
h1,
h2,
h3,
h4,
h5,
h6 {
	overflow-wrap: break-word;
}

/* Anything that has been anchored to should have extra scroll margin - potentially adjust per project */
:target {
	scroll-margin-block: 5ex;
}

button {
	display: inline-flex;
	background-color: unset;
	padding: unset;
	text-align: inherit;
}

/* unset some WF defaults */
.w-dropdown-btn,
.w-dropdown-toggle,
.w-dropdown-link {
	color: inherit;
}

.w-input:focus {
	border-color: transparent;
	outline: 0;
}
.w-dropdown-list {
	min-width: 0px;
}
.w-input {
}

/* basic focus state */
:focus-visible {
	outline: var(--color--leaf--light) solid 2px;
	outline-offset: 1px;
}
